
{% block header %}

{#   <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div> #}

    <style>
  
    </style>

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="index.html">
                <img src="{{asset('assets/images/edoc.png')}}" alt="" class="logo-dark"  id="logo-dark"/>
                <img src="{{asset('assets/images/edoc.png')}}" alt="" class="logo-light" height="24" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="{{ path('accueil') }}" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('extrait_naissance_new')}}"  class="nav-link">Naissance</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('mariage_new')}}" class="nav-link">Mariage</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('deces_new')}}" class="nav-link">Décès</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('casier_new')}}" class="nav-link">Casier judiciaire</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('contact') }}" class="nav-link">Contact </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item">
                        <a href="#login" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a href="#login" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter-1">S'inscrire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

{% endblock %}