{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
     <section class="section " id="contact">
        <div class="container">
            
            <div class="row align-items-center" id="ici">
                <div class="col-lg-12" id="ici">
                    <div class="custom-form mb-5 mb-lg-0">
                        <div class="etape1">
                            <h3 class="title mb-3">Etape 1</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Nom, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        
                                            {{ form_row (form.Prenom, { 'attr': {'class': 'form-control'} }) }}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.DateNaissance, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.LieuDeNaissance, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.NumeroRegistre, { 'attr': {'class': 'custom-select'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Region, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Departement, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Commune, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.paysNaissance, { 'attr': {'class': 'custom-select'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Sexe, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.NomPere, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.PrenomPere, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.NomMere, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.PrenomMere, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Type, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.documentJoint, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Demandeur, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form_row (form.Nombre, { 'attr': {'class': 'custom-select'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#ici" class="btn badge badge-soft-primary text-uppercase" id="suivant">Suivant</a>
                                        <div id="simple-msg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ></div>
                         <div class="etape2" >
                            <h3 class="title mb-3">Etape 2</h3>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Civilite, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.NomClient, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.PrenomClient, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Adresse, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.CodePostal, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Ville, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Pays, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_row (form.Telephone, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>

                         <div class="row">
                         <div class="col-sm-6">
                                        <a  class="btn badge badge-soft-primary text-uppercase " id="precedent">Précedent</a>
                                        <div id="simple-msg"></div>
                                    </div>
                            <div class="col-sm-6">
                                <button class="btn badge badge-soft-primary text-uppercase">{{ button_label|default('Valider') }}</button>
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        
    </section>
    
    
{{ form_end(form) }}

