{% extends 'base.html.twig' %}

{% block title %}Mariage index{% endblock %}

{% block body %}
    <h1>Mariage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Civilite</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NomClient</th>
                <th>Demandeur</th>
                <th>VilleMariage</th>
                <th>Region</th>
                <th>Commune</th>
                <th>NumeroRegisre</th>
                <th>DocumentJoint</th>
                <th>Nombre</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Telephone</th>
                <th>DateMariage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mariage in mariages %}
            <tr>
                <td>{{ mariage.id }}</td>
                <td>{{ mariage.civilite }}</td>
                <td>{{ mariage.nom }}</td>
                <td>{{ mariage.prenom }}</td>
                <td>{{ mariage.nomClient }}</td>
                <td>{{ mariage.demandeur }}</td>
                <td>{{ mariage.villeMariage }}</td>
                <td>{{ mariage.region }}</td>
                <td>{{ mariage.commune }}</td>
                <td>{{ mariage.numeroRegisre }}</td>
                <td>{{ mariage.documentJoint }}</td>
                <td>{{ mariage.nombre }}</td>
                <td>{{ mariage.adresse }}</td>
                <td>{{ mariage.codePostal }}</td>
                <td>{{ mariage.ville }}</td>
                <td>{{ mariage.pays }}</td>
                <td>{{ mariage.telephone }}</td>
                <td>{{ mariage.dateMariage ? mariage.dateMariage|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('mariage_show', {'id': mariage.id}) }}">show</a>
                    <a href="{{ path('mariage_edit', {'id': mariage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mariage_new') }}">Create new</a>
{% endblock %}
